.container{
width: 1283px;
   margin: auto;
}

a{
color:black;
    text-decoration: none;
}

.repaint_colors{
color:#4BCAFF;
}

.logo{
color:black;
    text-decoration: none;
    font-style: normal;
    font-weight: 400;
    font-size: 80px;
    line-height: 94px;

    margin-right: 5px;

}

.link_items{
color: #FFFFFF;
    text-decoration: none;
}

.top_menu{
display: flex;
    border-right: 1px solid white; /*!проблема*/

    background:#35444F;
justify-content: center;
    max-width: 1283px;

}

.top_menu_items{
    padding: 26px 50px 19px 50px;
    border-right: 1px solid white;
    border-left: 1px solid white;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
}

.navigation{
    margin-top: 30px;
    margin-bottom: 40px;
}

.container_left_menu{
    width: 1283px;
    margin-left: auto;
    margin-right: auto;

}

.left_navigation{
border: 1px solid black;
min-width: 340px;
    align-self: baseline;
            margin-right: 52px;

}

.left_menu_link{
    font-style: normal;
    font-weight: 300;
    font-size: 23px;
    line-height: 27px;
}

.left_menu_items{
    padding: 25px 82px 24px 42px ;
}



.block_alignment_main{
    display: flex;
    justify-content: space-between;
}


.photo_container{
    border: 1px solid black;
    margin-bottom: 37px;
}

.footer_menu{
display: flex;

}



.footer_container{
    display: flex;
    background-color: rgba(99, 105, 110, 0.48);
    justify-content: space-between;
    padding-top: 20px;
    padding-bottom: 20px;
}


.photo_container{
    display: flex;
align-items: center;
    justify-content: center;
}

.footer_menu_items{
padding-left: 40px;
}

.text_content{
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
}

.photo_content{
    padding: 50px 268px 50px 268px;
}


.text_content_second{
    margin-top: 34px;
margin-bottom: 54px;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
}

.left_menu_items:hover{
padding: 27px 0  27px 80px;
    background-color: #DBDBDB;
}

.hover_item:hover{
    background: #222F3A;
}
.text_footer{
padding-right: 40px;
}

.footer_menu_link:hover{
color:#3181A6;
    text-decoration: #3181A6;
}